.main-content.become-a-partner section .grid-2-row .sub-header {
  margin-bottom: 25px;
}
.main-content.become-a-partner section .grid-2-row .header-xxl {
  margin-bottom: 0rem;
}
.main-content.become-a-partner section .sub-header {
  color: rgba(0, 0, 0, 0.5) !important;
  font-weight: 500 !important;
  font-size: 18px !important;
}
.main-content.become-a-partner section .sub-header.main {
  color: #FD3B5E !important;
  font-weight: 600 !important;
}
.main-content.become-a-partner section.section-10 .layout-width {
  padding: 9rem 0;
}
.main-content.become-a-partner section.section-10 .layout-width > .grid-2 > div:first-child p {
  width: 75%;
}
.main-content.become-a-partner section.section-10 .layout-width .grid-2 > div .btn-pill {
  background-color: #6F4CF5 !important;
  border-color: #6F4CF5 !important;
}
.main-content.become-a-partner section.section-10 .layout-width .grid-2 > div .btn-link-primary {
  color: #6F4CF5 !important;
}
.main-content.become-a-partner section.section-10 .layout-width .grid-2 > div:not(:first-child) p {
  color: rgba(0, 0, 0, 0.7) !important;
}
.main-content.become-a-partner section.section-10 .layout-width .grid-2 > div .sub-header {
  font-weight: 600 !important;
  color: rgba(0, 0, 0, 0.8) !important;
}
.main-content.become-a-partner section.section-9 {
  background-color: white;
  position: relative;
  padding-top: 23rem;
  padding-bottom: 9rem;
}
.main-content.become-a-partner section.section-9::before {
  background-color: #F7F9FA;
  transform: skewY(351deg);
}
.main-content.become-a-partner section.section-9 .layout-width .grid-2 > div.grid-2-row {
  grid-template-rows: max-content;
}
.main-content.become-a-partner section.section-9 .layout-width .grid-2 > div.grid-2-row .header-xxl {
  width: 87%;
  margin-bottom: 1rem;
}
.main-content.become-a-partner section.section-9 .layout-width .grid-2 > div.grid-2-row p {
  width: 90%;
}
.main-content.become-a-partner section.section-9 .layout-width .grid-2 > div .img-container-shadow {
  width: 531px;
  height: 424px;
  box-shadow: 0px 0px 150px rgba(0, 0, 0, 0.15);
}
.main-content.become-a-partner section.section-8 {
  background-color: #fff;
}
.main-content.become-a-partner section.section-8 .layout-width {
  padding-top: 8rem;
  padding-bottom: 7rem;
}
.main-content.become-a-partner section.section-8 .layout-width .header-xxl {
  line-height: 57px;
}
.main-content.become-a-partner section.section-8 .layout-width .grid-2:nth-child(2) {
  padding-bottom: 2.5rem;
}
.main-content.become-a-partner section.section-8 .layout-width .grid-2:nth-child(2) .img-container-shadow {
  width: 531px;
  height: 424px;
  box-shadow: 0px 0px 150px rgba(0, 0, 0, 0.15);
}
.main-content.become-a-partner section.section-8 .layout-width .grid-2:nth-child(2) .grid-2-row {
  margin-bottom: 2.5rem;
}
.main-content.become-a-partner section.section-8 .layout-width .grid-2:nth-child(2) .grid-2-row p {
  width: 85%;
}
.main-content.become-a-partner section.section-8 .layout-width .grid-2:nth-child(2) .grid-2-row .header-md {
  font-size: 22px !important;
}
.main-content.become-a-partner section.section-8 .layout-width .grid-2:first-child {
  grid-template-columns: 2fr 1.5fr;
  margin-bottom: 4rem;
}
.main-content.become-a-partner section.section-8 .layout-width .grid-2:first-child > div:last-child {
  margin-top: 1rem;
}
.main-content.become-a-partner section.section-7 {
  background-color: #F7F9FA;
}
.main-content.become-a-partner section.section-7 .layout-width {
  padding-top: 6rem;
  padding-bottom: 9.5rem;
}
.main-content.become-a-partner section.section-7 .layout-width .grid-2:nth-child(3) > div:last-child .sub-header {
  width: 90%;
}
.main-content.become-a-partner section.section-7 .layout-width .grid-2:nth-child(3) > div:first-child {
  grid-template-rows: max-content;
  grid-auto-rows: max-content;
}
.main-content.become-a-partner section.section-7 .layout-width .grid-2:nth-child(3) > div:first-child > * {
  height: max-content;
}
.main-content.become-a-partner section.section-7 .layout-width .grid-2:nth-child(3) .sub-header {
  color: rgba(0, 0, 0, 0.7) !important;
}
.main-content.become-a-partner section.section-7 .layout-width .grid-2:nth-child(2) {
  margin-bottom: 5.5rem;
}
.main-content.become-a-partner section.section-7 .layout-width .grid-2:nth-child(2) .sub-header {
  color: rgba(0, 0, 0, 0.7) !important;
}
.main-content.become-a-partner section.section-7 .layout-width .grid-2:first-child {
  grid-template-columns: 3fr 1fr;
  margin-bottom: 4.5rem;
}
.main-content.become-a-partner section.section-6 {
  background-color: #fff;
}
.main-content.become-a-partner section.section-6 .layout-width {
  padding-top: 8rem;
  padding-bottom: 13rem;
}
.main-content.become-a-partner section.section-6 .layout-width .grid-4 {
  column-gap: 32px;
  margin-top: 5rem;
  grid-template-columns: 1fr 1fr 1.25fr 1fr;
}
.main-content.become-a-partner section.section-6 .layout-width .grid-4 .sub-header {
  font-weight: 600 !important;
  color: rgba(0, 0, 0, 0.8) !important;
}
.main-content.become-a-partner section.section-6 .layout-width .grid-2 {
  grid-template-columns: 4fr 1fr;
}
.main-content.become-a-partner section.section-6 .layout-width .grid-2 .btn-link-pink {
  font-weight: 500 !important;
}
.main-content.become-a-partner section.section-5 {
  background-color: #F7F9FA;
  position: relative;
  overflow: hidden;
  margin-top: -1px;
}
.main-content.become-a-partner section.section-5::before {
  content: "";
  background-color: #0A2540;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform-origin: 100%;
  transform: skewY(354deg);
}
.main-content.become-a-partner section.section-5 .layout-width {
  padding-top: 17rem;
  padding-bottom: 8.425rem;
  z-index: 2;
  position: relative;
}
.main-content.become-a-partner section.section-5 .layout-width .btn-pink {
  background-color: #379FFF !important;
  border-color: #379FFF !important;
  padding-left: 20px !important;
  padding-right: 25px !important;
}
.main-content.become-a-partner section.section-5 .layout-width .sub-header {
  color: #fff !important;
}
.main-content.become-a-partner section.section-5 .layout-width .header-xxxl {
  color: #fff;
}
.main-content.become-a-partner section.section-5 .layout-width .grid-2 {
  grid-template-columns: 1.5fr 2fr;
}
.main-content.become-a-partner section.section-5 .layout-width .grid-2 > div:first-child {
  grid-auto-rows: max-content !important;
  grid-template-rows: max-content;
}
.main-content.become-a-partner section.section-5 .layout-width .grid-2 > div:first-child > * {
  height: max-content;
}
.main-content.become-a-partner section.section-5 .layout-width .grid-2 > div:last-child {
  background-image: url("../img/DevelopStripeApps.svg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 356px;
  margin-top: -3rem;
}
.main-content.become-a-partner section.section-4 {
  background-color: #F7F9FA;
}
.main-content.become-a-partner section.section-4 .layout-width {
  padding-top: 5rem;
  padding-bottom: 10rem;
}
.main-content.become-a-partner section.section-4 .layout-width .grid-2 {
  margin-top: 1rem;
}
.main-content.become-a-partner section.section-4 .layout-width .grid-2:last-child {
  column-gap: 80px;
}
.main-content.become-a-partner section.section-4 .layout-width .grid-2:last-child .img-container-shadow {
  box-shadow: 0px 30px 100px rgba(0, 0, 0, 0.15) !important;
}
.main-content.become-a-partner section.section-4 .layout-width .grid-2:last-child .img-container-shadow .hero-img {
  background-image: url("../img/sub-section-1-img.png");
  background-repeat: no-repeat;
  background-size: 673px;
  background-position: center;
}
.main-content.become-a-partner section.section-4 .layout-width .grid-2:first-child {
  grid-template-columns: 3fr 1fr;
}
.main-content.become-a-partner section.section-4 .layout-width .grid-2:first-child .header-xxl {
  width: 90%;
  margin-bottom: 16px;
}
.main-content.become-a-partner section.section-3 {
  background-color: white;
}
.main-content.become-a-partner section.section-3 .layout-width {
  padding-bottom: 4rem;
}
.main-content.become-a-partner section.section-3 .layout-width .grid-4 {
  column-gap: 32px;
  margin-top: 4rem;
}
.main-content.become-a-partner section.section-3 .layout-width .grid-4 .sub-header {
  font-weight: 600 !important;
}
.main-content.become-a-partner section.section-3 .layout-width .grid-2 {
  grid-template-columns: 3fr 1fr;
}
.main-content.become-a-partner section.section-2 {
  background-color: #F7F9FA;
  margin: 5rem 0;
}
.main-content.become-a-partner section.section-2 .layout-width {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.main-content.become-a-partner section.section-1 {
  margin-top: 20rem;
}
.main-content.become-a-partner section.section-1 .layout-width .grid-2:nth-child(2) {
  margin-top: 6rem;
}
.main-content.become-a-partner section.section-1 .layout-width .grid-2:nth-child(2) ul li p {
  font-size: 18px;
  color: rgba(0, 0, 0, 0.5) !important;
}
.main-content.become-a-partner section.section-1 .layout-width .grid-2:first-child {
  grid-template-columns: 12fr 1fr;
}
.main-content.become-a-partner section.section-1 .layout-width .grid-2:first-child .sub-header.main {
  color: #FD3B5E !important;
}
.main-content.become-a-partner section.page-hero .page-hero-bg {
  margin-top: 5rem;
  background: linear-gradient(89.92deg, #FF024A 0.23%, #26A3E9 70.54%);
  height: 488.92px;
}
.main-content.become-a-partner section.page-hero .layout-width .grid-2 {
  grid-template-columns: 3fr 1fr;
}
.main-content.become-a-partner section.page-hero .layout-width .grid-2 > div:first-child .btn-pink {
  padding-left: 16px !important;
  padding-right: 22px !important;
}
.main-content.become-a-partner section.page-hero .layout-width .grid-2 > div:first-child .btn-pink svg {
  margin-left: 16px;
}
.main-content.become-a-partner section.page-hero .layout-width .grid-2 > div:first-child .sub-header {
  margin-bottom: 12px;
}
.main-content.become-a-partner section.page-hero .layout-width .grid-2 > div:first-child .header-xxl {
  line-height: 1.5;
  margin-top: 32px;
  font-size: 46px;
}
@media screen and (min-width: 991px) {
  .main-content.become-a-partner section.page-hero .layout-width .grid-2 > div:first-child .header-xxl {
    width: 70%;
  }
}
