.main-content.solutions .page-hero > div > div:first-child .grid-2 > div .img-container-shadow, .main-content.solutions .section-2 > div .layout-width .grid-2 > div .img-container-shadow {
  position: absolute;
  top: 0;
  left: 0;
}

.grid-3-row {
  color: rgba(0, 0, 0, 0.8);
  font-weight: 600;
}

.main-content.solutions .section-3 .layout-width .header-lg, .main-content.solutions .section-4 .layout-width .header-lg, .main-content.solutions .section-6 .layout-width .header-lg {
  font-weight: 700;
  line-height: 44.8px;
}

.main-content.solutions .section-2 > div .layout-width .grid-2 > div:nth-child(1) .header-xxl, .main-content.solutions .section-3 .layout-width .header-xxl, .main-content.solutions .section-5 .layout-width .header-xxl, .main-content.solutions .section-7 .layout-width .header-xxl {
  text-transform: none;
  font-size: 38px !important;
  font-weight: 700;
}

.main-content.solutions .section-2 > div .layout-width .grid-2 > div:nth-child(1) .sub-header.main, .main-content.solutions .section-3 .layout-width .sub-header.main, .main-content.solutions .section-5 .layout-width .sub-header.main, .main-content.solutions .section-7 .layout-width .sub-header.main {
  color: #379FFF;
  margin-bottom: 2.75rem;
  font-weight: 600;
  font-size: 22px;
}

.main-content.solutions {
  margin-top: 0px;
}
.main-content.solutions .grid-4 {
  -moz-column-gap: 32px;
  column-gap: 32px;
}
.main-content.solutions .section-7 .layout-width {
  padding-top: 6rem;
  padding-bottom: 0.5rem;
}
.main-content.solutions .section-7 .layout-width .grid-2 > div > div {
  margin-bottom: 2rem;
}
.main-content.solutions .section-7 .layout-width .grid-2 > div > div:last-child .grid-2 > div {
  margin-bottom: 1rem;
  color: #0048E5;
}
.main-content.solutions .section-7 .layout-width .grid-2 > div > div:last-child .sub-header {
  margin-bottom: 1.25rem;
  font-size: 18px;
}
.main-content.solutions .section-7 .layout-width .grid-2 > div > div a {
  margin-top: 1rem;
  display: block;
  font-family: "Poppins", "Helvetica", "Arial" !important;
}
.main-content.solutions .section-7 .layout-width .grid-2 > div > div p {
  color: rgba(0, 0, 0, 0.7) !important;
}
.main-content.solutions .section-7 .layout-width .grid-2 > div > div .sub-header {
  font-size: 22px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.8) !important;
  margin-bottom: 32px;
}
.main-content.solutions .section-7 .layout-width .grid-2 > div:last-child .gradient-img-bg {
  margin-top: 2rem;
  position: absolute;
  width: 640px;
  border-radius: 20px;
  padding: 5.5rem 2.5rem 6.5rem 2.5rem;
  background-image: url("../img/boy.png");
  background-repeat: no-repeat;
  background-position: top right;
  box-shadow: 0px 50px 80px 10px rgba(0, 0, 0, 0.15);
}
.main-content.solutions .section-7 .layout-width .grid-2 > div:last-child .gradient-img-bg::before {
  content: "";
  background: linear-gradient(90deg, #601F69 69.27%, rgba(96, 31, 105, 0.9) 100%);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: 20px;
}
@media screen and (max-width: 991px) {
  .main-content.solutions .section-7 .layout-width .grid-2 > div:last-child .gradient-img-bg {
    width: 100%;
  }
}
.main-content.solutions .section-7 .layout-width .grid-2 > div:last-child .gradient-img-bg > p {
  font-size: 18px;
  color: #fff !important;
  z-index: 2;
  position: relative;
}
.main-content.solutions .section-7 .layout-width .grid-2 > div:last-child .gradient-img-bg > p:first-child {
  margin-bottom: 1.5rem !important;
}
@media screen and (min-width: 991px) {
  .main-content.solutions .section-7 .layout-width .grid-2 > div:last-child .gradient-img-bg > p:first-child {
    width: 59%;
  }
}
.main-content.solutions .section-7 .layout-width .grid-2 > div:last-child > p {
  margin-bottom: 2rem !important;
  color: rgba(0, 0, 0, 0.7) !important;
}
.main-content.solutions .section-7 .layout-width .header-xxl {
  margin-bottom: 4rem;
}
@media screen and (min-width: 991px) {
  .main-content.solutions .section-7 .layout-width .header-xxl {
    width: 88%;
  }
}
.main-content.solutions .section-7 .layout-width .sub-header.main {
  color: #0048E5;
}
.main-content.solutions .section-7 + .section-1 {
  padding-bottom: 4.5rem;
}
.main-content.solutions .section-6 {
  background-color: #F7F9FA;
}
.main-content.solutions .section-6 .layout-width {
  padding-top: 7rem;
  padding-bottom: 5rem;
}
.main-content.solutions .section-6 .layout-width .grid-2 {
  grid-template-columns: 2fr 1fr;
}
.main-content.solutions .section-6 .layout-width p {
  margin-bottom: 1.5rem !important;
}
.main-content.solutions .section-6 .layout-width .header-lg {
  margin-bottom: 1.5rem;
}
.main-content.solutions .section-5 .layout-width {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.main-content.solutions .section-5 .layout-width .flex-3-row {
  margin-top: 4rem;
}
@media screen and (min-width: 991px) {
  .main-content.solutions .section-5 .layout-width .header-xxl {
    width: 77%;
    line-height: 55px;
  }
}
.main-content.solutions .section-5 .layout-width .sub-header.main {
  margin-bottom: 2.75rem;
}
.main-content.solutions .section-4 {
  background-color: #F7F9FA;
}
.main-content.solutions .section-4 .layout-width {
  padding-top: 2.125rem;
  padding-bottom: 3.825rem;
}
@media screen and (min-width: 991px) {
  .main-content.solutions .section-4 .layout-width p {
    width: 82%;
  }
}
.main-content.solutions .section-4 .layout-width .header-lg {
  margin-bottom: 2.25rem;
}
@media screen and (min-width: 991px) {
  .main-content.solutions .section-4 .layout-width .header-lg {
    width: 95%;
  }
}
.main-content.solutions .section-3 {
  margin-bottom: 9rem;
}
.main-content.solutions .section-3 .layout-width {
  margin-top: 3.5rem;
}
.main-content.solutions .section-3 .layout-width section {
  margin-top: 7.5rem;
}
.main-content.solutions .section-3 .layout-width section .header-xxl {
  margin-bottom: 5.5rem;
}
@media screen and (max-width: 991px) {
  .main-content.solutions .section-3 .layout-width .grid-2 .img-container-shadow {
    position: relative;
  }
}
.main-content.solutions .section-3 .layout-width .grid-2 .img-container-shadow:nth-child(2) {
  margin-left: 28px;
}
@media screen and (max-width: 991px) {
  .main-content.solutions .section-3 .layout-width .grid-2 .img-container-shadow:nth-child(2) {
    margin-left: 0;
  }
}
.main-content.solutions .section-3 .layout-width .grid-2 .sub-header {
  margin-bottom: 3rem;
  color: rgba(0, 0, 0, 0.7) !important;
}
.main-content.solutions .section-3 .layout-width .header-lg {
  margin-bottom: 3rem;
}
.main-content.solutions .section-3 .layout-width > p {
  margin-bottom: 4.5rem !important;
  font-size: 18px;
  line-height: 23.44px !important;
}
.main-content.solutions .section-3 .layout-width > p + .grid-2 {
  margin-bottom: 5rem;
}
@media screen and (min-width: 991px) {
  .main-content.solutions .section-3 .layout-width > p + .grid-2 > div:nth-child(2) .sub-header {
    width: 90%;
  }
}
@media screen and (min-width: 991px) {
  .main-content.solutions .section-3 .layout-width > p + .grid-2 > div:nth-child(1) .sub-header {
    width: 88%;
  }
}
@media screen and (min-width: 991px) {
  .main-content.solutions .section-3 .layout-width > p {
    width: 72%;
  }
}
.main-content.solutions .section-3 .layout-width p {
  color: rgba(0, 0, 0, 0.7) !important;
  line-height: 20px;
}
.main-content.solutions .section-3 .layout-width .header-xxl {
  margin-bottom: 2rem;
}
.main-content.solutions .section-3 .img-container-shadow {
  width: 521px;
  height: 323px;
  border-radius: 30px;
  box-shadow: 0px 0px 20px 3px rgba(253, 59, 94, 0.1);
}
.main-content.solutions .section-2 {
  position: relative;
  overflow: hidden;
  padding-bottom: 32%;
}
.main-content.solutions .section-2 .grid-3-row {
  margin-bottom: 54px;
}
.main-content.solutions .section-2::after {
  content: "";
  position: absolute;
  background-color: #F7F9FA;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  transform: skewY(-18deg);
  transform-origin: 0 0;
}
.main-content.solutions .section-2 > div {
  height: fit-content;
  width: 100%;
}
.main-content.solutions .section-2 > div .layout-width {
  position: relative;
  z-index: 1;
  padding-top: 10rem;
}
.main-content.solutions .section-2 > div .layout-width .grid-2 > div {
  position: relative;
}
.main-content.solutions .section-2 > div .layout-width .grid-2 > div:nth-child(1) p {
  font-size: 16px;
  line-height: 20.44px;
}
.main-content.solutions .section-2 > div .layout-width .grid-2 > div:nth-child(1) .header-xxl {
  margin-bottom: 4.5rem;
}
.main-content.solutions .section-2 > div .layout-width .grid-2 > div:nth-child(1) .sub-header {
  color: rgba(0, 0, 0, 0.8);
  font-weight: 600;
}
.main-content.solutions .section-2 > div .layout-width .grid-2 > div .img-container-shadow {
  width: 640px;
  height: 523px;
  box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.1);
  margin-top: 4rem;
}
@media screen and (min-width: 991px) {
  .main-content.solutions .section-2 > div .layout-width .grid-2 > div .img-container-shadow {
    margin-top: 14rem;
  }
}
.main-content.solutions .section-1 {
  background-color: white;
  padding-bottom: 7rem;
}
.main-content.solutions .section-1 .layout-width {
  margin-top: 3rem;
}
@media screen and (max-width: 900px) {
  .main-content.solutions .section-1 .layout-width .d-flex {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
  }
}
.main-content.solutions .section-1 .layout-width .d-flex:first-child {
  margin-bottom: 2rem;
}
.main-content.solutions .section-1 .layout-width .d-flex img:nth-child(odd) {
  height: 95px;
}
.main-content.solutions .section-1 .layout-width .d-flex img:nth-child(even) {
  margin-top: -10px;
  height: 123px;
}
.main-content.solutions .page-hero {
  width: 100%;
  height: fit-content;
  position: relative;
}
.main-content.solutions .page-hero::before {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  background-color: #f7f9fa;
  transform: skewY(-18deg);
  transform-origin: 0px 0px;
  width: 100%;
  height: 100%;
}
.main-content.solutions .page-hero > div {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}
.main-content.solutions .page-hero > div > div:first-child {
  flex-grow: 1;
  margin-top: 150px;
  z-index: 1;
  padding-bottom: 32rem;
}
.main-content.solutions .page-hero > div > div:first-child .grid-2 > div {
  position: relative;
}
.main-content.solutions .page-hero > div > div:first-child .grid-2 > div .img-container-shadow {
  width: 640px;
  height: 523px;
  box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.1);
  margin-top: 8px;
}
.main-content.solutions .page-hero > div > div:first-child .grid-2 > div .page-hero-header {
  color: #000 !important;
  margin-bottom: 3rem;
  text-transform: initial;
}
.main-content.solutions .page-hero > div > div:first-child .grid-2 > div .sub-header {
  margin-bottom: 2rem;
  font-weight: 600;
}
.main-content.solutions .page-hero > div > div:first-child .grid-2 > div .sub-header:nth-child(1) {
  color: #6F4CF5;
  font-weight: 600;
  font-size: 22px;
}
.main-content.solutions .page-hero > div > div:first-child .grid-2 > div .sub-header:nth-child(3) {
  margin-bottom: 2.5rem;
}
.main-content.solutions .page-hero > div .grid-2.rotated {
  grid-template-rows: 216px;
  transform: rotate(-18deg) translate(291px, -14px);
  transform-origin: 0px 0px;
  grid-template-columns: 1fr 2fr;
}
.main-content.solutions .page-hero > div .grid-2.rotated > div {
  margin-bottom: 0px !important;
}
.main-content.solutions .page-hero > div .grid-2.rotated > div:last-child {
  background-color: #61206a;
}
