.layered-grid-wall {
  display: grid;
}
.layered-grid-wall.marketplace > div {
  border-radius: 10px;
}
.layered-grid-wall.marketplace > div .content-footer .header-md {
  font-size: 22px;
}
.layered-grid-wall.marketplace > div.bottom-right {
  grid-area: 3/2/span 2;
}
.layered-grid-wall.marketplace > div.bottom-right .layer-bg {
  background-image: url("../img/woman-driving-2.png");
}
.layered-grid-wall.marketplace > div.bottom-right .layer-foreground {
  background: linear-gradient(180deg, rgba(128, 69, 246, 0.5) 0%, #8045F6 100%);
}
.layered-grid-wall.marketplace > div.center-right {
  grid-area: 2/2;
}
.layered-grid-wall.marketplace > div.center-right .layer-bg {
  background-image: url("../img/delivery-bag.png");
}
.layered-grid-wall.marketplace > div.center-right .layer-foreground {
  background: linear-gradient(180deg, rgba(231, 130, 50, 0.5) 0%, #E78232 100%);
}
.layered-grid-wall.marketplace > div.top-right {
  grid-area: 1/2;
}
.layered-grid-wall.marketplace > div.top-right .layer-bg {
  background-image: url("../img/grocery-store.png");
}
.layered-grid-wall.marketplace > div.top-right .layer-foreground {
  background: linear-gradient(180deg, rgba(18, 166, 72, 0.5) 0%, #12A648 100%);
}
.layered-grid-wall.marketplace > div.bottom-left {
  grid-area: 4/1;
}
.layered-grid-wall.marketplace > div.bottom-left .content-header .header-xl {
  font-weight: 500;
  font-style: italic;
}
.layered-grid-wall.marketplace > div.bottom-left .layer-bg {
  background-image: url("../img/painting.png");
}
.layered-grid-wall.marketplace > div.bottom-left .layer-foreground {
  background: linear-gradient(180deg, rgba(220, 73, 91, 0.5) 0%, #DC495B 100%);
}
.layered-grid-wall.marketplace > div.center-left {
  grid-area: 3/1;
}
.layered-grid-wall.marketplace > div.center-left .content-header .header-xl {
  font-weight: 500;
}
.layered-grid-wall.marketplace > div.center-left .layer-bg {
  background-image: url("../img/police-officer-2.png");
}
.layered-grid-wall.marketplace > div.center-left .layer-foreground {
  background: linear-gradient(180deg, rgba(80, 176, 137, 0.5) 0%, #50B089 100%);
}
.layered-grid-wall.marketplace > div.top-left {
  grid-area: 1/1/span 2/2;
}
.layered-grid-wall.marketplace > div.top-left .layer-bg {
  background-image: url("../img/easter-eggs.png");
}
.layered-grid-wall.marketplace > div.top-left .layer-foreground {
  background: linear-gradient(180deg, rgba(34, 34, 34, 0.5) 0%, #222222 100%);
}
@media screen and (min-width: 991px) {
  .layered-grid-wall {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 280px 280px 280px 280px;
    column-gap: 20px;
    row-gap: 20px;
  }
}

.sub-nav-wrapper {
  margin-top: 7.5rem;
}
.sub-nav-wrapper.tab-content {
  display: none;
}
.sub-nav-wrapper.tab-content.active {
  display: block;
}
.sub-nav-wrapper#startup > .grid-2 {
  grid-template-columns: 1fr 4fr;
}
.sub-nav-wrapper#startup > .grid-2 .layered {
  border-radius: 10px;
  filter: drop-shadow(0px 25px 50px rgba(0, 0, 0, 0.15));
}
.sub-nav-wrapper#startup > .grid-2 .layered .layer-foreground {
  background: linear-gradient(180deg, rgba(70, 91, 198, 0.5) 0%, #465BC6 100%);
}
.sub-nav-wrapper#startup > .grid-2 .layered .layer-foreground .content-footer h4 {
  width: 75%;
}
.sub-nav-wrapper#startup > .grid-2 .layered .layer-bg {
  background-image: url("../img/police-officer-2.png");
}
.sub-nav-wrapper#startup > .grid-2 .grid-3-row .grid-4-row p:not(:last-child) {
  color: #000 !important;
}
.sub-nav-wrapper#startup > .grid-2 .grid-3-row .grid-2-row {
  margin-bottom: 2.25rem;
}
.sub-nav-wrapper#startup > .grid-2 .grid-3-row .grid-2-row h4 {
  color: rgba(0, 0, 0, 0.8) !important;
}
.sub-nav-wrapper#startup > .grid-2 .grid-3-row .grid-2-row p {
  color: rgba(0, 0, 0, 0.7) !important;
}
.sub-nav-wrapper#startup > .grid-2 .header-md {
  margin-bottom: 0px;
  font-size: 22px;
}
