.main-content.support-center > .layout-width {
  padding-bottom: 5rem;
}
.main-content.support-center > .layout-width > .grid-2 {
  grid-template-columns: 2fr 1fr;
  margin-top: 8rem;
}
.main-content.support-center > .layout-width > .grid-2 > div:first-child .sub-header.main {
  color: #000 !important;
}
@media screen and (min-width: 991px) {
  .main-content.support-center > .layout-width > .grid-2 > div:first-child {
    margin-right: 5rem;
  }
}
.main-content.support-center > .layout-width > .grid-2 > div:last-child {
  height: fit-content;
  background-color: #F7F9FA;
  padding-top: 3.5rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
.main-content.support-center > .layout-width > .grid-2 > div:last-child .page-separator {
  margin: 2rem 0;
}
.main-content.support-center > .layout-width > .grid-2 > div:last-child .page-separator + .sub-header {
  margin-bottom: 1rem;
  color: #000 !important;
  font-weight: 600 !important;
}
.main-content.support-center > .layout-width > .grid-2 > div:last-child a {
  margin-bottom: 0.75rem;
  color: #6F4CF5 !important;
  font-weight: 600;
  display: block;
}
.main-content.support-center > .layout-width > .grid-2 > div:last-child .sub-header {
  color: #6F4CF5;
}
.main-content.support-center > .layout-width > .grid-2 > div:last-child .sub-header.main {
  font-weight: 700;
}
.main-content.support-center > .layout-width > .grid-2 > div:last-child .sub-header.main + p {
  color: #000 !important;
}
.main-content.support-center .section-2 {
  background: #F7F9FA;
  padding: 7rem 0 4rem;
}
.main-content.support-center .section-2 .grid-4 {
  column-gap: 32px;
  margin-bottom: 5rem;
}
.main-content.support-center .section-2 .grid-4 .flex-3-row .sub-header {
  color: #FD3B5E;
  margin-bottom: 0 !important;
}
.main-content.support-center .section-2 .grid-4 .flex-3-row > div {
  margin-bottom: 2rem;
}
.main-content.support-center .section-2 .grid-4 .flex-3-row > div img {
  margin-bottom: 2rem;
  height: 30px !important;
  width: 30px !important;
}
.main-content.support-center .section-1 .sub-header.main {
  margin-bottom: 2rem;
}
.main-content.support-center .section-1 .grid-3-row {
  margin-bottom: 3rem;
  row-gap: 14px;
}
.main-content.support-center .section-1 .grid-3-row span {
  color: #6F4CF5 !important;
}
.main-content.support-center .section-1 .grid-3-row .sub-header {
  margin-bottom: 0px;
  font-size: 16px;
  font-weight: 600;
  color: #6F4CF5;
}
.main-content.support-center .page-hero {
  margin-bottom: 4rem;
}
.main-content.support-center .page-hero .page-hero-header {
  margin-bottom: 2rem;
  font-weight: 400;
}
