.page-container.waakye-locator .page-hero-bg {
  margin-top: -7.825rem;
}
.page-container.waakye-locator .section-4 {
  padding: 6rem 0 11rem;
}
.page-container.waakye-locator .section-4 .layout-width .img-container-shadow {
  margin-top: 0 !important;
}
.page-container.waakye-locator .section-4 .layout-width .row .col-lg-6 .sub-header {
  padding-right: 4rem;
}
.page-container.waakye-locator .section-4 .layout-width .row .col-lg-6 h4:nth-child(2) {
  margin-bottom: 6rem;
}
.page-container.waakye-locator .section-4 .layout-width .row .col-lg-6 .header-xl {
  margin-bottom: 3rem;
  font-size: 32px !important;
}
.page-container.waakye-locator .section-4 .layout-width h2:first-child {
  margin-bottom: 3rem;
}
.page-container.waakye-locator .section-3 {
  padding-bottom: 5rem;
  background-image: url("../img/triangular-gradient-bg.svg");
  background-repeat: no-repeat;
  padding-top: 8rem;
  background-size: cover;
  height: 1080px;
}
.page-container.waakye-locator .section-3 .layout-width {
  padding-top: 11rem;
}
.page-container.waakye-locator .section-3 .layout-width .img-container-shadow {
  margin-top: 0 !important;
}
.page-container.waakye-locator .section-3 .layout-width .row:first-child {
  margin-bottom: 5rem;
}
.page-container.waakye-locator .section-3 .layout-width .header-md {
  margin-bottom: 2rem;
  color: #fff;
}
@media screen and (max-width: 412px) {
  .page-container.waakye-locator .section-3 .layout-width .header-md {
    margin-top: 4rem;
  }
}
.page-container.waakye-locator .section-3 .layout-width .header-md + .sub-header {
  padding-right: 4rem;
  color: #fff !important;
}
.page-container.waakye-locator .section-3 .layout-width .header-xl {
  margin-bottom: 4rem;
  padding-right: 4rem;
  color: #fff;
}
@media screen and (max-width: 412px) {
  .page-container.waakye-locator .section-3 .layout-width .header-xl {
    margin-top: 9rem;
  }
}
.page-container.waakye-locator .section-3 .layout-width .header-xl + .sub-header {
  margin-bottom: 4.5rem;
  padding-right: 4rem;
  color: #fff;
}
.page-container.waakye-locator .section-2 {
  padding: 8rem 0 1rem 0;
}
.page-container.waakye-locator .section-2 .sub-header {
  padding-right: 4rem;
}
.page-container.waakye-locator .section-2 .header-xl {
  margin-bottom: 4rem;
}
.page-container.waakye-locator .section-1 {
  margin-top: 15rem;
  margin-bottom: 6rem;
}
.page-container.waakye-locator .section-1 .sub-header {
  padding-right: 4rem;
}
.page-container.waakye-locator .section-1 .header-xl {
  color: #000 !important;
  line-height: 42px;
}
.page-container.waakye-locator .section-1 .header-xl:nth-child(2) {
  margin-bottom: 4rem;
}
.page-container.waakye-locator .section-1 .header-xl:first-child {
  margin-bottom: 4rem;
}
.page-container.waakye-locator .section-1 .img-container-shadow {
  width: 506px;
  height: 415px;
  margin-top: -3rem !important;
}
.page-container.waakye-locator .page-hero {
  padding-top: 2.5%;
}
.page-container.waakye-locator .page-hero .img-container-shadow {
  width: 640px;
  height: 523px;
}
.page-container.waakye-locator .page-hero .sub-header {
  width: 74%;
  line-height: 20.44px;
  margin-bottom: 1rem;
}
.page-container.waakye-locator .page-hero .page-hero-header {
  text-transform: none;
  font-size: 600;
  font-size: 46px;
}
.page-container.waakye-locator .page-hero .header-xl {
  margin-bottom: 2.625rem;
  font-weight: 500;
}
.page-container.waakye-locator .img-group .img-container-shadow {
  width: 506px;
  height: 415px;
  margin-top: 1.625rem;
  box-shadow: 0px 0px 50px 10px rgba(253, 59, 94, 0.1) !important;
}
