.main-content {

    &.contact {
        padding-bottom: 15rem;

        label {
            margin-left: 6px;
        }

        textarea {
            height: 152px;
        }

        select {
            -webkit-appearance: none !important;
            -moz-appearance: none !important;
            appearance: none !important;
            text-indent: 1px !important;
            text-overflow: '' !important;
            padding: 0.75rem 2.25rem 0.75rem 0.75rem !important;

            &::-ms-expand {
                display: none !important;
            }

        }

        .layout-width {

            .card-shadow {
                height: fit-content !important;
                min-height: fit-content !important;
                background-color: white;
                padding: 2rem;
                border-radius: 10px;
                box-shadow: 0px 0px 50px 10px rgb(0 0 0 / 10%);
            }

            .col-12, .col-md-12 {
                margin-top: 1.5rem;
            }

            > div:not(.grid-2) {

                > div {

                    > div {
                        border-radius: 8px !important;
                        width: calc(100% - 32px) !important;
                        display: table;
                        margin: 0 auto !important;
                    }

                }

            }

            > .grid-2 {
                column-gap: 40px;

                .header-lg {
                    margin-left: 0.5rem;
                }

                > div { 

                    .card-shadow {

                        &:nth-child(2) {
                            padding-bottom: 2.5rem !important;

                            .grid-2-row {
                                margin-bottom: 2rem;

                                .sub-header {
                                    margin-bottom: 0px !important;
                                }
                            }

                        }

                        &:nth-child(2) {
                            margin-bottom: 5rem !important;

                            h4 {
                                &.sub-header {
                                    margin-bottom: 0px !important;
                                }
                            }
                        }

                    }

                    > div {

                        &:first-child {
                            margin-bottom: 5rem;
                        }

                        &:first-child, &:nth-child(3) {
                            background-color: white;
                            padding: 2rem;
                            border-radius: 10px;
                            box-shadow: 0px 0px 50px 10px rgb(0 0 0 / 10%);
                            max-height: 572px;

                            .grid-2-row {
                                row-gap: 12px;

                                p {
                                    font-size: 14px;
                                }

                            }

                            .sub-header {
                                margin-bottom: 0px !important;
                            }

                            > div {
                                margin-bottom: 1.5rem;
                            }
                        }

                    }

                }

            }

        }

        #map {
            height: 600px;
            width: 100%;
            background-color: green;
            border-radius: 4px;
            margin-bottom: 5rem;
        }

    }

}