%img-slider-container {
    margin-top: 2.5rem;
    margin-bottom: 10rem;

    .slick-track {
        display: flex;
        align-items: center;

        @media screen and (max-width: 412px) {

            width: 100% !important;

            > div {
                flex-grow: 1;
                width: 100% !important;
            }

        }

        [data-index="4"] {
            img {
                height: 85px;
            }
        }

        [data-index="1"] {
            img {
                height: 85px;
            }
        }

        [data-index="0"] {
            img {
                height: 80px;
            }
        }
    }

    .slider-img {
        width: auto;
        height: 55px;
        object-fit: contain;

        &.sps-logo {
            margin-top: 10px !important;
        }
    }

}

.page-container {
    &.easysolar {

        .section-11 {
            .layout-width {
                padding-top: 11rem;
                padding-bottom: 25rem;

                .btn-link-primary {
                    color: #7AC9C6 !important;
                }

                .btn-pill {
                    background: #7AC9C6 !important;
                    border-color: #7AC9C6 !important;
                    margin-right: 4rem;
                }

            }
        }

        .section-10 {
            background: #F7F9FA;

            .layout-width {
                padding-top: 8rem;
                padding-bottom: 6rem;

                .sub-header.main {
                    color: #6F4CF5 !important;
                }

                .grid-2:first-child {
                    margin-bottom: 6rem;
                    grid-template-columns: 3fr 1fr;

                    + .grid-2 {
                        .link {
                            color: #6F4CF5 !important;
                        }
                    }

                    .grid-3-row {

                        p {
                            width: 95%;
                        }

                    }
                }

            }

        }

        .section-9 {
            background-color: white;
            padding-top: 12rem;
            padding-bottom: 14rem;

            .layout-width {

                .sub-header.main {
                    color: #0DE4E4;
                }

                .grid-3 {
                    grid-template-columns: 1fr 2fr 1fr;

                    p {
                        line-height: 20.44px;
                    }

                    .btn-link-primary {
                        padding-left: 0 !important;
                        color: #7AC9C6 !important;

                    }

                    .header-md {
                        margin-bottom: 0px ;
                    }
                }

            }

        }

        .section-8 {
            background-color: white;
            width: 100%;
            position: relative;
            overflow: hidden;

            .layout-width {
                padding-top: 23rem;

                .grid-4 {
                    column-gap: 32px;
                }

                > .grid-2 {
                    grid-template-columns: 2fr 1fr;

                    .grid-3-row {
                        margin-bottom: 3rem;

                        .header-xxl {
                            margin-bottom: 32px;
                            margin-top: 6px;
                        }

                        p {
                            font-weight: 500;
                            font-size: 18px;
                            color:rgba(0, 0, 0, 0.5) !important;
                            line-height: 23.44px;
                        }
                    }

                    .sub-header {
                        color:#6F4CF5;
                    }
                }
            }

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background: rgba(230, 234, 238, 0.3);
                transform: skewY(346deg);
                transform-origin: 100% 0;
                z-index: 1;
            }

            @media screen and (min-width: 991px) {
                height: 1128.07px;  
            }

        }

        .section-7 {
            background-color: white;
                             
            .layout-width {
                 padding-top: 11rem;
                 padding-bottom: 0rem;

                .slider-container.full-width {
                    box-shadow: 0px 50px 80px 10px rgba(0, 0, 0, 0.15);
                    border-radius: 20px;
                    background-image: url("../img/boy2.svg");
                    position: relative;
                    background-repeat: no-repeat;
                    background-position: right;
                    background-size: contain;

                    &::before {
                        content: "";
                        top: 0;
                        left: 0;
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        border-radius: 20px;
                        z-index: 0;
                        background: linear-gradient(90deg, #664EFF 69.27%, rgba(102, 78, 255, 0.9) 100%);
                    }
                  
                    .slick-slide {
                        width: 100%;
                        padding: 5rem 5rem 7rem 5.25rem;

                        @media screen and (max-width: 490px) {
                            padding-left: 16px;
                            padding-right: 16px;
                        }

                        img {
                            position: absolute;
                            top: -25%;

                            @media screen and (max-width: 480px) {
                                display: none;
                            }
                        }

                        

                        .grid-2 {
                            grid-template-columns: 2fr 1fr;
                            z-index: 2;
                            position: relative;
                        }

                        &[data-index="3"] {
    
                            // background-image: url("../img/boy2.svg");

                            // &::before {
                            //     background: linear-gradient(90deg, #664EFF 69.27%, rgba(102, 78, 255, 0.9) 100%);
                            // }
                            
                        }

                        &[data-index="2"] {
    
                            // background-image: url("../img/boy2.svg");

                            // &::before {
                            //     background: linear-gradient(90deg, #664EFF 69.27%, rgba(102, 78, 255, 0.9) 100%);
                            // }
                            
                        }

                        &[data-index="1"] {
    
                            // background-image: url("../img/boy2.svg");

                            // &::before {
                            //     background: linear-gradient(90deg, #664EFF 69.27%, rgba(102, 78, 255, 0.9) 100%);
                            // }
                            
                        }

                        &[data-index="0"] {
    
                            // background-image: url("../img/boy2.svg");

                            // &::before {
                            //     background: linear-gradient(90deg, #664EFF 69.27%, rgba(102, 78, 255, 0.9) 100%);
                            // }
                            
                        }

                    }
                        
                }

                .slider-container:not(.full-width) {
                    
                    @extend %img-slider-container;
                    margin-top: 3.5rem;

                    @media screen and (min-width: 991px) {
                        margin-left: 5.5rem;
                    }
                
                }

            }
        }

        .section-6 {
            background-color: white;
            width: 100%;
            position: relative;
            overflow: hidden;

            @media screen and (min-width: 991px) {
                height: 1371.07px;   
            }

            .layout-width {
                padding-top: 30rem;
                z-index: 2;
                position: relative;

                .glass-effect {
                    background: rgba(255, 255, 255, 0.1);
                    box-shadow: 0px 0px 20px 5px rgba(253, 59, 94, 0.1);
                    border-radius: 20px;
                    padding: 28px;
                    margin-top: 6rem;

                    .grid-2 {

                        .img-container-shadow {

                        }
                    }
                    
                }

                .grid-3-row {
                    margin-bottom: 3rem;

                    + .btn-pill {
                        background-color: #0DE4E4 !important;
                        border-color: #0DE4E4 !important;
                    }


                    p {
                        color: rgba(255, 255, 255, 0.5) !important;
                        width: 71%;
                    }

                    .sub-header {
                        color: #0DE4E4;
                    }

                    .header-xxl {
                        color: #fff !important;
                        margin-bottom: 23px;
                        font-weight: 500;
                    }

                }

            }

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                background: #0A2540;
                transform: skewY(346deg);
                transform-origin: 100% 0;
                z-index: 1;
            }

        }

        .section-5 {
            background-color: white;

            .layout-width {
                padding-top: 5rem;
                padding-bottom: 20rem;

                .grid-2 {
                    column-gap: 75px !important;
                    margin-top: 6.25rem;

                    > div {
                        position: relative;
                    }

                    .img-container-shadow {
                        margin-bottom: 2.425rem;

                        + p {
                            margin-bottom: 0.75rem !important;
                            font-weight: 600;

                            + p {
                                line-height: 19px;
                            }
                        }
                    }
                }
            }
        }

        .section-4 {
            background-color: white;

            .layout-width {
                padding-top: 3rem;
                padding-bottom: 8rem;

                > .grid-2 {
                    grid-template-columns: 2fr 1fr;

                    > div {
                        &:first-child {

                            .grid-2-row {
                                margin-bottom: 3rem;
                            }

                            .grid-3-row:not(.has-icon) {
                                margin-bottom: calc(20px + 27px);

                                .header-xxl {
                                    margin-bottom: 20px;

                                    + p {
                                        margin-bottom: 20px !important;
                                    }
                                }

                                .arrow-link {
                                    color: #6A7EE7;
                                }
                            }

                        }
                    }
                }
            }
        }

        .section-3 {
            margin-top: 7.5rem;
            margin-bottom: 7rem;

            .grid-2 {

                > div {

                    &:last-child {
                        position: relative;

                        .img-container-shadow {
                            width: 506px;
                            height: 328px;
                            box-shadow: 0px 0px 20px 5px rgba(253, 59, 94, 0.1);
                            border-radius: 50px;     
                            position: absolute; 
                            left: 0;    
                            
                            @media screen and (min-width: 991px) {
                                margin-left: 32px;     
                            }

                            @media screen and (max-width: 990px) {
                                position: relative;
                            }
                        }
                    }

                }

                .grid-2 {
                    p {
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 18.75px;
                    }
                }

                ul {
                    margin-bottom: 1.5rem;

                    + p {
                        margin-bottom: 4rem !important;
                    }

                }

                .header-xxl {
                    color: #000;
                    margin-bottom: 2.5rem;
                }
            }

        }

        .section-2 {
            margin-top: 7rem;

            .sub-header {
                font-size: 16px;
                width: 99%;
            }

            h1 {
                margin-bottom: 3.5rem;
                width: 100%;
            }

            .slider-container {

                @extend %img-slider-container;
            
            }
        }

        .section-1 {
            margin-top: 21rem;

            .grid-4 {

                column-gap: 46px;

                h6 {
                    margin-bottom: 1.5rem;
                }

                p {
                    line-height: 18.75px;
                    font-size: 14px;
                }

            }
        }

        .page-hero {

            padding-top: 5%;

            .button-group {
                margin-top: 10%;
            }

            .sub-header {
                font-size: 18px !important;
                font-weight: 700;
            }

            .page-hero-header {
                font-size: 58px;
                line-height: 75px;
                margin-bottom: 4rem;
                font-weight: 700;

                @media screen and (max-width: 412px) {
                    font-size: 32px;
                    line-height: 40px;
                }
            }

            .img-group {

                .img-container-shadow {
                    top: 123px;
                    position: absolute;
                    left: 64px;
                    z-index: 3;
                }
                
                .img-container-border {
                    position: relative;
                    z-index: 1
                }
            }

            .page-hero-bg {
                background: linear-gradient(89.92deg, #FF024A 5.75%, #26A3E9 93.71%);
                transform: matrix(-0.93, 0.33, -0.36, -0.94, 0, 0);
                z-index: 2;
                position: relative;
                margin-top: -19rem;

                // @media screen and (max-width: 1365px) {
                //     margin-top: -19rem;
                // }

                // @media screen and (min-width: 1367px) and (max-width: 1513px) {
                //     margin-top: -21rem;
                // }

                // @media screen and (max-width: 900px) {
                //     display: none;
                // }
            }

            .img-container-shadow {
                width: 640px;
                height: 802px;
                background: #EBF2F9;
                box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
                border-radius: 50px;
            }

        }

    }
}