.main-content {
    &.solutions {

        .section-6 {
            padding-top: 4rem;
            padding-bottom: 3rem;
            background-color: #F7F9FA;
            margin-bottom: 6rem;

            .grid-2 {
                > .grid-2 {

                    > div {

                        &:first-child {
                            z-index: 2;
                            position: relative;

                            &::before {
                                content: "";
                                position: absolute;
                                top: 0;
                                left: 23px;
                                background-image: url("../img/check-circle.svg");
                                height: 20px;
                                width: 20px;
                                z-index: 2;
                                background-repeat: no-repeat;
                                background-size: contain;
                            }

                            img {
                                position: relative;
                                display: block;
                            }

                        }

                    }

                    .btn {
                        font-size: 18px !important;
                    }

                }
            }

            .header-lg {
                + p {
                    width: 75%;
                }
            }

            .btn-link-primary {
                color: #6F4CF5 !important;
            }

            .btn-pill {
                background-color: #6F4CF5 !important;
                border-color: #6F4CF5 !important;
            }
        }

        .section-5 {
            background-color: white;

            .layout-width {
                padding-top: 4.5rem;
                padding-bottom: 5.625rem;

                .grid-2 {
                    > div {

                        &:last-child {

                            .img-container-shadow {
                                width: 523px;
                                height: 557px;
                                position: absolute;
                                margin-top: 32px;
                                
                            }

                        }
                        
                        &:first-child {

                            .sub-header.main {
                                margin-bottom: 20px;
                                color: #FD3B5E;
                            }

                            .header-xxl {
                                width: 83%;
                                margin-bottom: 22px;
                            }

                            .grid-2-row {
                                margin-top: 32px;

                                .sub-header:not(.main) {
                                    margin-bottom: 0px;
                                }
                            }

                        }

                    }
                }
            }
        }

        .section-4 {
            background-color: #F7F9FA;
            overflow: hidden;

            .layout-width {
                padding-top: 3rem;

                .btn-pill {
                    background-color: #FD3B5E !important;
                    border-color: #FD3B5E !important;
                }

                > .grid-2 {
                    grid-template-columns: 3fr 1fr;

                    
                    .grid-3-row {

                        p {
                            margin-bottom: 1rem !important;
                        }
                        
                    }

                    > div {

                        &:last-child {
                            display: flex;
                            align-items: flex-end;

                            @media screen and (max-width: 991px) {
                                display: none;
                            }

                            @media screen and (min-width: 991px) {
                                justify-content: flex-end;
                            }

                            .rectangular-stack {
                                > div {

                                    &:last-child {
                                        height: 300px;
                                        width: 190px;
                                        background-color: #6F4CF5;
                                        grid-area: 1/1/2;
                                        box-shadow: -5px -8px 25px rgba(0, 0, 0, 0.1);
                                        margin-left: 24px;
                                        margin-top: 20px;
                                        
                                    }

                                    &:first-child {
                                        background-color:#FFFFFF;
                                        grid-area: 1/1;
                                        width: 190px;
                                        height: 320px;
                                        box-shadow: -5px -8px 25px rgba(0, 0, 0, 0.1);
                                    }

                                }
                            }
                        }

                        &:first-child {
                            padding-top: 3rem;
                            padding-bottom: 4rem;

                        }

                    }
                }
            }
        }

        .section-3 {
            background-color: white;

            .layout-width {
                padding-top: 6rem;
                padding-bottom: 6rem;

                .grid-2 {
                    > div {

                        &:last-child {

                            @media screen and (max-width: 991px) {
                                display: none;
                            }

                            img {
                               
                                @media screen and (max-width: 991px) {
                                    position: relative;
                                }

                                @media screen and (min-width: 991px) {
                                    margin-top: -13%;
                                    position: absolute;
                                }
                            }

                        }
                    }
                }

                .sub-header.main {
                    color: #6F4CF5;
                }

                .grid-3-row.has-icon {
                    margin-top: 4rem;

                    
                    @media screen and (min-width: 991px) {

                        p {
                            width: 75%;
                        }

                        .sub-header {
                            width: 68%;
                        }
                    }
                }

            }
        }

        .section-2 {
            background-color: #F7F9FA;

            .layout-width {
                padding-top: 7rem;
                padding-bottom: 7rem;
            }
        }

        .section-1 {
            background-color: white;

            .layout-width {
                padding-top: 20rem;
                padding-bottom: 8rem;

                @media screen and (max-width: 991px) {
                    padding-top: 7rem;
                }

                .grid-4 {
                    column-gap: 32px;
                }

            }
        }

        .page-hero {

            .layout-width {
                padding-top: 4rem;
                position: relative;
                z-index: 2;

                .btn-pill {
                    background-color: #9966FF !important;
                    border-color: #9966FF !important;
                }
                
                .btn-link-primary {
                    color:#9966FF !important;
                }
    
                .page-hero-header {
                    font-size: 46px;
                    width: 81%;
                    line-height: 60.47px;
                }
            }

        }
       
    }
}